@charset "utf-8";

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "noto sans kr", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
}
@media (min-width: 768px) {
    * {
        cursor: none;
    }
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}

body {
    background: #000;
}

/* 헤더 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    max-width: 1830px;
    margin: 30px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

header .portfolio_name {
    color: #dddd;
    font-weight: 400;
    font-size: 45px;
    font-family: "Italiana", sans-serif;
}

header .menuBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

header .menuBtn span {
    width: 50px;
    height: 1px;
    background: #fff;
    display: block;
}
header .menuBtn span + span {
    margin-top: 12px;
}

/* 메인 공통 */
.main {
    overflow: hidden;
}

section {
    position: relative;
}

section + section {
    margin-top: 15vw;
}

.container {
    max-width: 1450px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

/* 메인 인트로 */
.main #intro {
    height: 100vh;
}

.main #intro .main_title {
    font-size: 8vw;
    line-height: 1.175;
    color: #d8d8d8;
    font-weight: 400;
    position: absolute;
    max-width: 1450px;
    width: 100%;
    padding: 0 15px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main #intro .main_title .line {
    display: table;
    overflow: hidden;
    position: relative;
}

.main #intro .main_title .circle {
    top: 50%;
    left: 50%;
    width: 33.8542vw;
    height: 33.8542vw;
    background: rgba(5, 5, 175, 0.45);
    border-radius: 50%;
    -webkit-transform: scale(0) translate(-50%, -50%);
    -ms-transform: scale(0) translate(-50%, -50%);
    transform: scale(0) translate(-50%, -50%);
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.main #intro .main_title.ani_end .circle {
    -webkit-transform: scale(1) translate(-50%, -50%);
    -ms-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
}

.main #intro .main_title span {
    display: table-cell;
    font-family: "Italiana", sans-serif;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
/*
.main #intro .main_title .line:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #d8d8d8;
  transition: 0.5s ease 0.5s;
}

.main #intro .main_title.ani_end .line:after {
  width: 100%;
}
*/
.main #intro .main_title span.on {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/* 스크롤버튼 */
.screen_fixed {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 1830px;
    padding: 0 15px;
    width: 100%;
    pointer-events: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.scrollbtn {
    pointer-events: auto;
}

.scrollbtn img {
    width: 60px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.scrollbtn.on img {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    -o-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s, -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    -webkit-animation: scrollBtn 0.8s infinite ease-in-out alternate 1.5s;
    animation: scrollBtn 0.8s infinite ease-in-out alternate 1.5s;
}

@-webkit-keyframes scrollBtn {
    0% {
        -webkit-transform: translateY();
        transform: translateY();
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@keyframes scrollBtn {
    0% {
        -webkit-transform: translateY();
        transform: translateY();
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

.anchor {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    pointer-events: auto;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
}

.anchor.on {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.anchor li {
    position: relative;
}

.anchor li + li {
    margin-top: 8px;
}

.anchor li a {
    color: #dddd;
    position: relative;
    z-index: 2;
    font-weight: 300;
    display: block;
}

.anchor li svg {
    position: absolute;
    bottom: -23px;
    left: -38px;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

.anchor li .cls-1 {
    stroke-dashoffset: 419;
    stroke-dasharray: 419;
}

.anchor li:hover .cls-1 {
    -webkit-animation: dash 0.3s ease-out forwards;
    animation: dash 0.3s ease-out forwards;
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

/* carrer */
#career {
    margin-top: 8vw;
}

.section_title {
    max-width: 1450px;
    width: 100%;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    font-size: 10vw;
    color: #d8d8d8;
    position: relative;
    text-transform: uppercase;
}
.section_title::before {
    content: "01";
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    font-weight: 400;
    font-size: 1.1vw;
}

#projects .section_title::before {
    content: "02";
}
#about .section_title::before {
    content: "03";
}
#contact .section_title::before {
    content: "04";
}

.deco_text {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    content: "";
    display: block;
    color: #ddd;
    font-size: 1vw;
    font-weight: 300;
    margin-bottom: 2.2vw;
    padding: 0 15px;
}

.section_title span {
    font-family: "Italiana", sans-serif;
    position: relative;
}

.swiper-container {
    position: relative;
    overflow: visible;
}

.swiper-container .swiper-slide a {
    width: calc(100% - 100px);
    max-width: 1070px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    display: block;
    margin: 0 auto;
    position: relative;
}

.swiper-container .swiper-slide .left_title {
    font-size: 16px;
    color: #ddd;
    position: absolute;
    top: 0px;
    right: calc(100% + 10px);
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    font-weight: 300;
}

.swiper-container .swiper-slide .bottom_title {
    font-size: 16px;
    color: #ddd;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    font-weight: 300;
}

.swiper-container .swiper-slide .project_txtBox {
    position: absolute;
    bottom: 100px;
    right: -130px;
    font-size: 50px;
    color: #fff;
    opacity: 0;
    -webkit-transition: right 1s ease 0.8s, opacity 1s ease 0.8s;
    -o-transition: right 1s ease 0.8s, opacity 1s ease 0.8s;
    transition: right 1s ease 0.8s, opacity 1s ease 0.8s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-container .swiper-slide .project_txtBox h3 {
    line-height: 1.15;
    text-shadow: 0 0 9px rgb(0 0 0 / 70%);
}

.swiper-container .swiper-slide .project_txtBox span {
    font-size: 20px;
    text-align: right;
    width: 100%;
    display: inline-block;
}

.swiper-container .swiper-slide .project_txtBox span img {
    width: 18px;
    position: relative;
    top: 2px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.swiper-container .swiper-slide.swiper-slide-active .project_txtBox {
    right: -90px;
    opacity: 1;
}

.swiper-container .swiper-slide > a > img {
    width: 100%;
    display: block;
}

/* 커서 */
.cursor {
    position: fixed;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    margin-top: -35px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
}

.grow,
.grow-small {
    -webkit-transform: scale(4);
    -ms-transform: scale(4);
    transform: scale(4);
    background: white;
    mix-blend-mode: difference;
    border: none;
}

.grow-small {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

/* 프로젝트 */
#rolling {
    -webkit-transform: rotate(-5.86deg);
    -ms-transform: rotate(-5.86deg);
    transform: rotate(-5.86deg);
}

section .circle {
    width: 11.87vw;
    height: 11.87vw;
    border-radius: 50%;
    background: rgba(5, 5, 175, 0.45);
    position: absolute;
}

#rolling .circle {
    top: -5.1vw;
    left: 8vw;
}

#rolling .line {
    height: 2px;
    background: #d8d8d8;
    width: 200%;
    margin: 1.8vw 0;
}

.client_name {
    font-family: "GT Sectra", sans-serif;
    font-size: 15vw;
    line-height: 1em;
    color: #d8d8d8;
    font-weight: 500;
    display: table;
}

.client_name * {
    font-family: inherit;
}

.client_name .client_wrap {
    display: table-cell;
}

.client_name .client_wrap span {
    display: table-cell;
    padding-right: 5vw;
}

#client2 span {
    color: transparent;
    -webkit-text-stroke: 2px #d8d8d8;
}

/* about */
#about .circle {
    top: -5vw;
    left: 3vw;
}

#about .deco_text {
    position: absolute;
    left: 31vw;
    bottom: 44px;
    max-width: none;
    width: auto;
    margin-bottom: 0;
}

#about .about_title {
    font-size: 30px;
    color: #d8d8d8;
}

#about .about_title.service {
    margin-top: 25px;
}

#about .about_title span {
    font-size: 19px;
    display: block;
}

#about .about_info_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#about .about_info_wrap .about_video {
    width: 28.17%;
    position: relative;
    overflow: hidden;
}

#about .about_info_wrap .about_video video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 10%;
    margin-left: -9%;
}

#about .about_info_wrap .about_des {
    width: calc(100% - 28.17%);
}

#about .about_info_wrap .about_txtWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff;
    margin-top: 15px;
}
#about .about_info_wrap .about_txtWrap ul {
    width: calc(50% - 15px);
    border: 1px solid #d8d8d8;
    padding: 20px 15px;
    border-radius: 7px;
}

#about .about_info_wrap .about_txtWrap ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#about .about_info_wrap .about_txtWrap ul li + li {
    margin-top: 5px;
}

#about .about_info_wrap .about_txtWrap ul li img {
    width: 20px;
    margin-right: 10px;
}

#about .about_info_wrap .about_txtWrap ul li p {
    width: 100%;
    margin-top: 10px;
}

#about .about_info_wrap .about_txtWrap .academy_name {
    margin-left: 169px;
}

/* contact */
#contact {
    margin-bottom: 8vw;
}

#contact .circle {
    top: -3.6vw;
    left: 18vw;
}

#contact .contact_ul li {
    font-size: 6vw;
    border-bottom: 1px solid #d8d8d8;
    position: relative;
}

#contact .contact_ul li:last-child {
    border-bottom: 0;
}

#contact .contact_ul li a {
    color: #d8d8d8;
    display: block;
    background: url(../img/contact_arrow.png) no-repeat right center;
}

#contact .contact_ul li:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    mix-blend-mode: difference;
    -webkit-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
    pointer-events: none;
}

#contact .contact_ul li:hover:after {
    height: 100%;
}

/* 푸터 */
footer {
    border-top: 1px solid #d8d8d8;
}

footer .container {
    max-width: 1830px;
    color: #d8d8d8;
    font-size: 2vw;
    font-family: "Italiana", sans-serif;
    padding: 1vw 15px;
}

/* project 모달창 */
.modalWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
    z-index: 900;
    padding: 0 15px;
}
.modalWrap.on {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}
.modalWrap .modalCover {
    max-width: 1200px;
    margin: 0px auto;
    background: #fff;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.modalWrap .modalCover .modalClose {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer !important;
}
.modalWrap .modalCover .modalClose span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100%;
    height: 2px;
    background: #222;
    display: block;
    cursor: pointer !important;
}
.modalWrap .modalCover .modalClose span:last-child {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}
.modalWrap .modalCover .modalBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}
.modalWrap .modalCover .modalBox.defaultCursor {
    cursor: auto;
}
.modalWrap .modalCover .modalBox.defaultCursor * {
    cursor: auto;
}
.modalWrap .modalCover .modalBox .modalImg {
    width: 50%;
    overflow: hidden;
    height: 100%;
}
.modalWrap .modalCover .modalBox .modalImg img {
    width: 100%;
    display: block;
}
.modalWrap .modalCover .modalBox .modalTxtbox {
    width: 50%;
    padding: 60px;
}
.modalWrap .modalCover .modalBox .modalTxtbox .projectStatus {
    font-size: 16px;
}
.modalWrap .modalCover .modalBox .modalTxtbox .projectName {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
}
.modalWrap .modalCover .modalBox .modalTxtbox p {
    margin-top: 10px;
    word-break: keep-all;
    font-size: 16px;
}
.modalWrap .modalCover .modalBox .modalTxtbox .projectDes {
    margin-top: 10px;
    word-break: keep-all;
    font-size: 16px;
    line-height: 1.6;
}
.modalWrap .modalCover .modalBox .modalTxtbox .projectLink {
    border: 1px solid #222;
    font-size: 14px;
    color: #222;
    padding: 5px 10px 7px;
    margin-top: 20px;
    display: inline-block;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
}
.modalWrap .modalCover .modalBox .modalTxtbox .projectLink:hover {
    background: #222;
    color: #fff;
}
.imagePreload {
    display: none;
}

/* 전체메뉴 */
.allMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    overflow: hidden;
    background: #080857;
}

.allMenu.on {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.allLeft {
    width: 58%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
.allMenu .allLeft:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #000;
}
.allMenu.on .allLeft:before {
    width: 100%;
    -webkit-transition: width 0.4s 0.4s ease;
    -o-transition: width 0.4s 0.4s ease;
    transition: width 0.4s 0.4s ease;
}
.allLeft_inner {
    display: table;
    position: relative;
}
.allLeft .allTitle {
    color: rgba(255, 255, 255, 0.93);
    font-size: 7vw;
    font-family: "Italiana", sans-serif;
    position: relative;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0;
}
.allMenu.on .allLeft .allTitle {
    -webkit-animation: fadeIn 0.4s 0.8s forwards ease;
    animation: fadeIn 0.4s 0.8s forwards ease;
}
.allLeft .allTitle span {
    font-size: 1.4vw;
    color: #dddddd;
    font-family: "Italiana", sans-serif;
    margin-left: -1.8vw;
}
.allLeft .allsubTitle {
    font-family: "Italiana", sans-serif;
    font-size: 1.5vw;
    color: rgba(216, 216, 216, 0.84);
    text-align: right;
    position: relative;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0;
}
.allMenu.on .allLeft .allsubTitle {
    -webkit-animation: fadeIn 0.4s 0.9s forwards ease;
    animation: fadeIn 0.4s 0.9s forwards ease;
}
.allLeft .allsubTitle span {
    font-family: inherit;
    font-size: 0.7em;
}
.allLeft .snsIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 20px;
    position: relative;
    opacity: 0;
}
.allMenu.on .allLeft .snsIcon {
    -webkit-animation: fadeIn 0.4s 1s forwards ease;
    animation: fadeIn 0.4s 1s forwards ease;
}
.allLeft .snsIcon li + li {
    margin-left: 30px;
}
.allLeft .snsIcon li img {
    width: 30px;
}
.allLeft .circle {
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -4.2vw;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../img/allCircle.png) no-repeat center / cover;
    opacity: 0;
}
.allMenu.on .circle {
    -webkit-animation: fadeIn 0.4s 0.4s forwards ease;
    animation: fadeIn 0.4s 0.4s forwards ease;
}
.allRight {
    width: 42%;
    /* background: url(../img/allRight_bg.jpg) no-repeat center / cover; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.allRight nav a {
    display: block;
    font-size: 4vw;
    color: #ddd;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    position: relative;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    opacity: 0;
}
.allMenu.on nav a {
    -webkit-animation: fadeIn 0.6s 0.2s forwards ease;
    animation: fadeIn 0.6s 0.2s forwards ease;
}
.allMenu.on nav a:nth-child(2) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.allMenu.on nav a:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.allMenu.on nav a:nth-child(4) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.allRight nav a + a {
    margin-top: 1.4vw;
}
.allRight nav a .navNum {
    font-size: 12px;
    -webkit-text-stroke: 0;
    color: #fff;
    position: absolute;
    top: -5px;
    left: -5px;
}
.allClose {
    position: absolute;
    top: 32px;
    right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50px;
    height: 50px;
}
.allClose span {
    width: 100%;
    height: 1px;
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
.allClose span:last-child {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fill {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes fill {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
